<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
  <title>Course Create</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <section layout:fragment="body" class="py-5" style="height: 78vh">
    <div class="container m">
      <form role="form" method="post" th:action="@{/courses/{courseId}/edit(courseId=${course.get().getId()})}" th:object="${course}">
        <input type="hidden" th:field="*{id}">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Title</label>
            <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    th:field="*{name}"
                    placeholder="Name">
            <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
          </div>
          <div class="form-group col-md-6">
            <label for="iconUrl">Icon Url</label>
            <input
                    type="text"
                    class="form-control"
                    id="iconUrl"
                    name="iconUrl"
                    th:field="*{iconUrl}"
                    placeholder="Icon Url">
            <p th:if="${#fields.hasErrors('iconUrl')}" class="text-danger" th:errors="*{iconUrl}"></p>
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="description">Description</label>
          <input
                  type="text"
                  class="form-control"
                  id="description"
                  name="description"
                  th:field="*{description}"
                  placeholder="description">
          <p th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </section>
</main>
</body>
</html>