<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}" lang="en">
<head>
  <title>Reset Password</title>
</head>
<section layout:fragment="body" style="min-height: 79vh; display: flex; flex-direction: column;">
  <style>

    .main {
      padding: 0px 10px;
    }

    @media screen and (max-width: 450px) {
      .login-form{
        margin-top: 10%;
      }
      .register-form{
        margin-top: 10%;
      }
    }
    @media screen and (min-width: 768px){
      .main{
        margin-left: 30%;
      }

      .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
      }
    }
  </style>
  <div class="main" style="flex: 1;">
    <div class="col-md-6 col-sm-12" style="margin-top: 100px">
      <h1>Reset Password</h1>

      <div th:if="${error}" class="alert alert-danger">
        <p class="text-danger">Error occurred</p>
      </div>
      <div th:if="${message}" class="alert alert-success">
        <p class="text-bg-success" th:text="${message}"></p>
      </div>
      <div th:if="${param.enroll}" class="alert alert-success">
        You have to log in first to enroll course.
      </div>
      <div class="login-form" >
        <form method="post" th:action="@{/reset_password}" class="border border-secondary p-3" >
          <div class="form-group">
            <input type="hidden" th:value="${token}" name="token">
            <label>Password</label>
            <input required autofocus
                   id="password"
                   type="password"
                   class="form-control"
                   placeholder="Password"
                   name="password"/>
            <label>Confirm password</label>
            <input required autofocus
                   id="confirm"
                   type="password"
                   class="form-control"
                   placeholder="Confirm password"
                   name="Confirm password"
            oninput="checkPasswordMatch();"/>
            <button type="submit" value="change" class="btn btn-secondary">Change password</button>
          </div>


        </form>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  function checkPasswordMatch(){
    if(document.getElementById("confirm") !== document.getElementById("password")){
      document.getElementById("confirm").setCustomValidity("Passwords do not match");
    }else{
      document.getElementById("confirm").setCustomValidity("");
    }
  }
</script>
</html>